# Fichiers Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Configuration et dépendances
node_modules/
package.json
package-lock.json
yarn.lock

# Conteneurs Docker
docker-compose.yml
docker-compose-slim.yml
Dockerfile

# Fichiers README et documentation inutiles pour le déploiement
README.md
CONTRIBUTING.md
INSTALL.md
CUSTOMIZE.md
FAQ.md
LICENSE

# Résultats de tests et autres fichiers inutiles
*.log
*.tmp
*.swp
*.DS_Store
Thumbs.db
*.bak

# Dossiers de prévisualisation ou captures d'écran
readme_preview/
lighthouse_results/
bin/